# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dependencies
node_modules/
jspm_packages/
/node_modules
/.pnp
.pnp.js
public/jsoneditor.*
public/handlebars.*

# npm stuff
.npm
.node_repl_history
.yarn-integrity

# dotenv environment variables file
.eslintcache
.next
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# testing
/coverage
/php-tests/emails/*

# production
/build

# misc
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.tar.gz

npm-debug.log*
yarn-debug.log*
yarn-error.log*
