| Last Name | First Name | Age | Lodging | Chore |
| --------- | ---------- | --- | ------- | ----- |
{% for camper in campers | sort(attribute="attributes.last_name") -%}
| {{ camper.attributes.last_name }} | {{ camper.attributes.first_name }} | {{ camper.attributes.age }} | {{ camper.lodging.name if camper.lodging }} | {{ camper.attributes.chore }} |
{% endfor %}
Total Campers: {{ campers | length }}
