.md-template {
  border: 1px solid lightgray;
  padding: 0.5rem;

  table {
    border-collapse: collapse;

    th {
      background-color: lightgray;
      font-weight: bold;
    }

    th, td {
      border: 1px solid gray;
      padding: 0.5rem;
    }
  }
}
