.RegisterPage {
  background-color: #057e36;
  display: flex;
  justify-content: center;
  text-align: center;

  .App-link {
    color: #61dafb;
  }

  .confirmation {
    background-color: white;
    box-shadow: 0 0 5px black;
    border-radius: 0 0 1rem 1rem ;
    padding: 2rem;

    .md-template {
      background-color: 0;
      border: 0;
    }
  }

  #root_campers .items > .row {
      padding: 0.3rem;
      border-radius: 0.3rem;
      margin: 0;
      background-color: lightgray;

  }

  .App>section {
    background-color: white;
    box-shadow: 0 0 5px black;
    flex-grow: 1;
    max-width: 750px;
    padding: 36px 0;
  }

  .PriceTicker {
    position: fixed;
    bottom: 0;
    right: 10%;
    padding: 15px;
    font-size: 12pt;
    border-radius: 8px 8px 0 0;
    border-bottom: 0;
    background-color: beige;
    box-shadow: black 0px 1px 2px;
    font-size: 17pt;
    font-weight: bold;
  }
}
