@import "~bootstrap/scss/bootstrap";

html {
  background-color: #057e36;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-color: #057e36;
}

table {
  border-collapse: collapse;
  border: 1px solid;
  td, th {
    padding: 0.2rem 0.4rem;
    border: 1px solid;
  }
}

.button-container {
  margin-top: 1rem;
  & > * {
    margin-right: 1rem;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.row {
	background-color: white;
}

.scrollable-container {
  overflow:scroll;
  overflow-y:hidden;
}
