{%- set parking_short = {
  "Long Term": "LT",
  "Vehicle Camp 1": "V1",
  "Vehicle Camp 2": "V2",
  "Vehicle Camp 3": "V3",
  "Short Term": "ST",
  "Camp 1": "C1",
  "Camp 2": "C2",
  "Camp 3": "C3",
  "Park Anywhere": "PA",
} -%}
{%- for camper in campers -%}
  {%- set _ = camper.update({'camperLodgingParts': lodgingLookup[camper.lodging | string]}) -%}
  {%- set _ = camper.update({'registration': registrationLookup[camper.registration | string]}) -%}
  {%- set _ = camper.update({'crew': registrationTypeLookup[camper.registration.registration_type | string].label if registrationTypeLookup[camper.registration.registration_type | string] }) -%}
  {%- set _ = camper.update({'ldg': lodgingLookup[camper.lodging | string] }) -%}
  {%- set _ = camper.update({'fullLodgingPath': camper.ldg.fullPath }) if camper.lodging -%}
  {%- set _ = camper.update({'camp': camper.ldg.pathParts[0] }) if camper.ldg -%}
  {%- set _ = camper.update({'lodging_short': camper.fullLodgingPath or ''}) -%}
  {%- set _ = camper.update({'lodging_short': camper.lodging_short | replace('RV under 15\' long', '')}) -%}
  {%- set _ = camper.update({'lodging_short': camper.lodging_short | replace('RV 15\'-20\' long', '')}) -%}
  {%- set _ = camper.update({'lodging_short': camper.lodging_short | replace('RV over 20\' long (call ahead)', '')}) -%}
  {%- set _ = camper.update({'lodging_short': camper.lodging_short | replace('RV→', 'Vehicle Camping')}) -%}
  {%- set _ = camper.update({'lodging_short': camper.lodging_short | replace('→Cabin→', '→')}) -%}
  {%- set _ = camper.update({'lodging_short': camper.lodging_short[:camper.lodging_short.find('→Spot')] }) if '→Spot' in camper.lodging_short -%}
  {%- set _ = camper.update({'lodging_set': camper.ldg.isLeaf if camper.ldg else false }) -%}
	{%- set _ = camper.update({'parking_pass_qty': camper.attributes.parking_passes | length }) -%}
  {%- set _ = camper.update({'parking': 'NONE'}) -%}
  {%- if camper.parking_pass_qty > 0 -%}
		{%- set _ = camper.update({'parking': camper.parking_pass_qty ~ (' passes (' if camper.parking_pass_qty > 1 else ' pass (' )}) -%}
		{%- for pass in camper.attributes.parking_passes -%}
			{%- set _ = camper.update({'parking': camper.parking ~ parking_short[pass.pass_type] }) -%}
			{%- set _ = camper.update({'parking': camper.parking ~ ',' }) if not loop.last -%}
		{%- endfor -%}
		{%- set _ = camper.update({'parking': camper.parking ~ ')' }) if not loop.last -%}
  {%- endif -%}
  {%- set _ = camper.update({
    'tent_tag_holder':
       (camper.ldg.campers | selectattr('attributes.session', '==', camper.attributes.session) | sort(attribute="sequence,attributes.last_name,attributes.first_name") | first)
  }) if 'Tent' in camper.fullLodgingPath -%}    
{%- endfor -%} 
last,first,age,crew,camp,lodging,email,parking,tenttag,session,id
{% for camper in campers | sort(attribute='attributes.last_name,attributes.first_name') -%}
	{{ '"' ~ (camper.attributes.last_name | replace('"', '""'))	}}",
	{{- '"' ~ (camper.attributes.first_name | replace('"', '""'))	}}",
  {{- camper.attributes.age }},
  {{- camper.crew or 'Camper' }},
  {{- camper.camp }},
  {{- camper.lodging_short}},
  {{- camper.attributes.email or camper.registration.registrant_email or '-'}},
	{{- '"' ~ camper.parking -}}",
  {%- if not camper.lodging_set -%}
		unassigned
  {%- elif 'Tent' in camper.fullLodgingPath and camper.tent_tag_holder.id == camper.id -%}
    {{ camper.fullLodgingPath[camper.fullLodgingPath.find('→Spot '):] | replace('→Spot ', '') }}
  {%- elif 'Tent' in camper.fullLodgingPath and camper.tent_tag_holder.attributes.first_name -%}
    under {{ camper.tent_tag_holder.attributes.first_name }} {{ camper.tent_tag_holder.attributes.last_name }}
  {%- else -%}
    NONE
  {%- endif -%},
  {{- camper.attributes.session | replace('Half camp - ', '') }},
  {{- camper.id }}
{% endfor -%}