{%- set parking_short = {
  "Long Term": "LT",
  "Vehicle Camp 1": "V1",
  "Vehicle Camp 2": "V2",
  "Vehicle Camp 3": "V3",
  "Short Term": "ST",
  "Camp 1": "C1",
  "Camp 2": "C2",
  "Camp 3": "C3",
  "Park Anywhere": "PA",
} -%}
{#- The legacy report added ')' after the passes unless the camper was the last in `campers`. -#}
{%- set last_camper = campers | last -%}
last,first,age,crew,camp,lodging,email,phone,parking,tenttag,session,arrived,id
{% for camper in campers | sort(attribute='attributes.last_name,attributes.first_name') -%}
  {%- set reg_type = camper.registration.registration_type -%}
  {%- set crew = reg_type.label if reg_type -%}
  {%- set full_path = camper.lodging.full_name if camper.lodging else '' -%}
  {%- set camp = camper.lodging.path_names[0] if camper.lodging -%}
  {%- set lodging_short = full_path
      | replace('RV under 15\' long', '')
      | replace('RV 15\'-20\' long', '')
      | replace('RV over 20\' long (call ahead)', '')
      | replace('RV→', 'Vehicle Camping')
      | replace('→Cabin→', '→') -%}
  {%- set lodging_short = lodging_short[:lodging_short.find('→Spot')] if '→Spot' in lodging_short else lodging_short -%}
  {%- set lodging_set = camper.lodging.is_leaf if camper.lodging else false -%}
  {%- set passes = camper.attributes.parking_passes or [] -%}
  {%- set parking_pass_qty = passes | length -%}
  {%- set parking = namespace(text='NONE') -%}
  {%- if parking_pass_qty > 0 -%}
    {%- set parking.text = parking_pass_qty ~ (' passes (' if parking_pass_qty > 1 else ' pass (') -%}
    {%- for pass in passes -%}
      {%- set parking.text = parking.text ~ parking_short[pass.pass_type] -%}
      {%- set parking.text = parking.text ~ ',' if not loop.last else parking.text -%}
    {%- endfor -%}
    {%- set parking.text = parking.text ~ ')' if camper.id != last_camper.id else parking.text -%}
  {%- endif -%}
  {%- set tent_tag_holder = (camper.lodging.campers | selectattr('attributes.session', '==', camper.attributes.session) | sort(attribute="index,attributes.last_name,attributes.first_name") | first) if 'Tent' in full_path -%}
	{{ '"' ~ (camper.attributes.last_name | replace('"', '""'))	}}",
	{{- '"' ~ (camper.attributes.first_name | replace('"', '""'))	}}",
  {{- camper.attributes.age }},
  {{- crew or 'Camper' }},
  {{- camp }},
  {{- lodging_short}},
  {{- camper.attributes.email or camper.registration.registrant_email or '-'}},\
  {{- (camper.registration.attributes.payment or {}).payer_number or '-'}},
	{{- '"' ~ parking.text -}}",
  {%- if not lodging_set -%}
		unassigned
  {%- elif 'Tent' in full_path and tent_tag_holder.id == camper.id -%}
    {{ full_path[full_path.find('→Spot '):] | replace('→Spot ', '') }}
  {%- elif 'Tent' in full_path and tent_tag_holder.attributes.first_name -%}
    under {{ tent_tag_holder.attributes.first_name }} {{ tent_tag_holder.attributes.last_name }}
  {%- else -%}
    NONE
  {%- endif -%},
  {{- camper.attributes.session | replace('Half camp - ', '') }},
  {{- camper.admin_attributes.checked_in -}},
  {{- camper.id }}
{% endfor -%}