first, last, email, total, payments, balance, type
{% for camper in campers | sort(False, attribute='attributes.last_name') | sort(True, attribute='registration.balance') -%}
  {%- set registration_type = camper.registration.registration_type -%}
  {{ camper.attributes.first_name }},
  {{- camper.attributes.last_name }},
  {{- camper.attributes.email or camper.registration.registrant_email or '-'}},
  {{- camper.registration.total_owed}},
  {{- camper.registration.total_paid}},
  {{- camper.registration.balance}},
  {{- (registration_type.name if registration_type) or 'camper' }}
{% endfor -%}