first, last, crew, age, need_forms, got_forms, lodging, registered_with, email
{% for camper in campers | sort(attribute="attributes.last_name") if camper.attributes.age in ['0-4 years old', '5-11 years old', '12-17 years old'] -%}
{%- set crew = camper.registration.registration_type.name if camper.registration.registration_type -%}
{%- set full_path = camper.lodging.full_name if camper.lodging else '' -%}
{%- set lodging_short = full_path
    | regex_replace('Tent→Area [A-M]→Spot ', 'Tnt')
    | replace('Camp ', 'C')
    | replace('Cabin→', '')
    | replace('RV under 15\' long→Spot ', '')
    | replace('RV 15\'-20\' long→Spot ', '')
    | replace('RV over 20\' long (call ahead)→Spot ', '')
    | replace('RV→', '')
    | replace('Cooks Cabin', 'Cook')
    | replace('Cabin ', 'Cbn') -%}
{{ camper.attributes.first_name }},
{{- camper.attributes.last_name }},
{{- crew or 'none' }},
{{- camper.attributes.age }},
{{- 'Yes' if camper.admin_attributes.guardian_forms_required else 'No' }},
{{- 'Yes' if camper.admin_attributes.guardian_forms_received else 'No' }},
{{- lodging_short }}, "{%- for c in camper.registration.campers -%}
{{- c.attributes.first_name }} {{ (c.attributes.last_name or '') ~ ';' -}}{%- endfor -%}",
{{- camper.registration.registrant_email  }}
{% endfor -%}