{%- set parking_short = {
  "Long Term": "LT",
  "Vehicle Camp 1": "V1",
  "Vehicle Camp 2": "V2",
  "Vehicle Camp 3": "V3",
  "Short Term": "ST",
  "Camp 1": "C1",
  "Camp 2": "C2",
  "Camp 3": "C3",
  "Park Anywhere": "PA",
} -%}
{%- for camper in campers -%}
    {%- set _ = camper.update({'camperLodgingParts': lodgingLookup[camper.lodging | string]}) -%}
    {%- set _ = camper.update({'registration': registrationLookup[camper.registration | string]}) -%}
    {%- set _ = camper.update({'crew': registrationTypeLookup[camper.registration.registration_type | string].name if registrationTypeLookup[camper.registration.registration_type | string] }) -%}
    {%- set _ = camper.update(
    {'fullLodgingPath': lodgingLookup[camper.lodging | string].fullPath}
    ) if camper.lodging  -%}
    {%- set _ = camper.update({'lodging_short': camper.fullLodgingPath or ''}) -%}
    {%- for l in ['A','B','C','D','E','F','G','H','I','J','K','L','M'] -%}
        {%- set _ = camper.update({'lodging_short': camper.lodging_short | replace('Tent→Area ' + l + '→Spot ', 'Tnt')}) -%}
    {%- endfor -%} 
    {%- set _ = camper.update({'lodging_short': camper.lodging_short | replace('Camp ', 'C')}) -%}
    {%- set _ = camper.update({'lodging_short': camper.lodging_short | replace('Cabin→', '')}) -%}
    {%- set _ = camper.update({'lodging_short': camper.lodging_short | replace('RV under 15\' long→Spot ', '')}) -%}
    {%- set _ = camper.update({'lodging_short': camper.lodging_short | replace('RV 15\'-20\' long→Spot ', '')}) -%}
    {%- set _ = camper.update({'lodging_short': camper.lodging_short | replace('RV over 20\' long (call ahead)→Spot ', '')}) -%}
    {%- set _ = camper.update({'lodging_short': camper.lodging_short | replace('RV→', '')}) -%}
    {%- set _ = camper.update({'lodging_short': camper.lodging_short | replace('Cooks Cabin', 'Cook')}) -%}
    {%- set _ = camper.update({'lodging_short': camper.lodging_short | replace('Cabin ', 'Cbn')}) -%}
    {%- if camper.registration.attributes.parking_passes | length > 0 -%}
        {%- set _ = camper.update({'parking': camper.registration.attributes.parking_exception or 'Long Term'}) -%}
        {%- set _ = camper.update({'parking': 'Vehicle Camp 1'}) if 'Camp 1' in camper.fullLodgingPath and 'RV' in camper.fullLodgingPath -%}
        {%- set _ = camper.update({'parking': 'Vehicle Camp 2'}) if 'Camp 2' in camper.fullLodgingPath and 'RV' in camper.fullLodgingPath -%}
        {%- set _ = camper.update({'parking': 'Vehicle Camp 3'}) if 'Camp 3' in camper.fullLodgingPath and 'RV' in camper.fullLodgingPath -%}
    {%- endif -%}
    {%- if camper.stay[0] == '2023-07-27' -%}
        {%- set _ = camper.update({'comp_reason': 'kitchen'}) if camper.crew == 'kitchen-full' -%}
        {%- set _ = camper.update({'comp_reason': 'kitchen'}) if camper.crew == 'kitchen-partial' -%}
        {%- set _ = camper.update({'comp_reason': 'cleanup'}) if camper.crew == 'cleanup' -%}
        {%- set _ = camper.update({'comp_reason': 'setup'}) if camper.crew == 'setup' -%}
        {%- set _ = camper.update({'comp_reason': 'reg'}) if camper.crew == 'registration' -%}
        {%- set _ = camper.update({'comp_reason': 'manage'}) if camper.crew == 'management' -%}
        {%- set _ = camper.update({'comp_reason': 'trade'}) if camper.food_trade_only -%}
        {%- set _ = camper.update({'comp_reason': 'gift'}) if camper.precamp_meals_comp -%}
    {%- endif -%}
{%- endfor -%} 
first, last, crew, age, need_forms, got_forms, lodging, registered_with, email
{% for camper in campers | sort(attribute="attributes.last_name") if camper.attributes.age in ['0-4 years old', '5-11 years old', '12-17 years old'] -%}
{{ camper.attributes.first_name }},
{{- camper.attributes.last_name }},
{{- camper.crew or 'none' }},
{{- camper.attributes.age }},
{{- 'Yes' if camper.admin_attributes.guardian_forms_required else 'No' }},
{{- 'Yes' if camper.admin_attributes.guardian_forms_received else 'No' }},
{{- camper.lodging_short }}, "{%- for c in camper.registration.campers -%}
{{- c.attributes.first_name }} {{ c.attributes.last_name + ';' -}}{%- endfor -%}",
{{- camper.registration. registrant_email  }}
{% endfor -%}