last, first, age, crew, lodging, balance, created
{% for camper in campers | sort(reverse=True,attribute="registration.created_at") -%}
    {%- set crew = camper.registration.registration_type.name if camper.registration.registration_type -%}
    {%- set full_path = camper.lodging.full_name if camper.lodging else '' -%}
    {%- set lodging_short = full_path
        | regex_replace('Tent→Area [A-M]→Spot ', 'Tnt')
        | replace('Camp ', 'C')
        | replace('Cabin→', '')
        | replace('RV under 15\' long→Spot ', '')
        | replace('RV 15\'-20\' long→Spot ', '')
        | replace('RV over 20\' long (call ahead)→Spot ', '')
        | replace('RV→', '')
        | replace('Cooks Cabin', 'Cook')
        | replace('Cabin ', 'Cbn') -%}
  {{ camper.attributes.first_name }},
  {{- camper.attributes.last_name }},
  {{- camper.attributes.age }},
  {{- crew or 'camper' }},
  {{- lodging_short}},
  {{- '$' ~ camper.registration.balance }},
  {{- camper.registration.created_at | datetime('%Y-%m-%dT%H:%M:%S.%fZ', 'UTC') | replace('.000000Z', 'Z') }}
{% endfor -%}