{%- set regTypeLookup = {
  2: "talent",
  4: "cleanup",
  5: "setup",
  6: "registration",
  7: "kitchen-full",
  8: "management",
  3: "kitchen-partial",
} -%}
last, first, registration_type, vax_status, vax_verified, email, phone
{% for camper in campers | sort(attribute="attributes.last_name") if not camper.admin_attributes.vaccination_checked -%}
  {{camper.attributes.last_name}}, {{camper.attributes.first_name}},
  {%- set _ = camper.update({'reg': registrationLookup[camper.registration | string] or {} }) -%}
  {{- regTypeLookup[registrationLookup[camper.registration | string].registration_type]}},
  {{- '"' + camper.attributes.vaccination_status | join(', ')  + '"' }},
  {{- camper.admin_attributes.vaccination_checked or 'False' }},
  {{- camper.reg.registrant_email}},
  {%- if camper.reg.attributes.payment and camper.reg.attributes.payment.payer_number -%}
    {{- camper.reg.attributes.payment.payer_number -}}
  {%- else -%}
no phone
  {%- endif %}
{% endfor -%}
{% for camper in campers | sort(attribute="attributes.last_name")  if camper.admin_attributes.vaccination_checked -%}
  {%- set _ = camper.update({'reg': registrationLookup[camper.registration | string] or {} }) -%}
  {{camper.attributes.last_name}}, {{camper.attributes.first_name}},
  {{- regTypeLookup[camper.reg.registration_type]}},
  {{- '"' + camper.attributes.vaccination_status | join(', ')  + '"' }},
  {{- camper.admin_attributes.vaccination_checked or 'False' }},
  {{- camper.reg.registrant_email}},
  {%- if camper.reg.attributes.payment and camper.reg.attributes.payment.payer_number -%}
    {{- camper.reg.attributes.payment.payer_number -}}
  {%- else -%}
no phone
  {%- endif %}
{% endfor -%}