{%- set early_date = event.start -%}
{%- set parking_short = {
  "Long Term": "LT",
  "Vehicle Camp 1": "V1",
  "Vehicle Camp 2": "V2",
  "Vehicle Camp 3": "V3",
  "Short Term": "ST",
  "Camp 1": "C1",
  "Camp 2": "C2",
  "Camp 3": "C3",
  "Park Anywhere": "PA",
} -%}
{#- The legacy report added ')' after the passes unless the camper was the last in `campers`. -#}
{%- set last_camper = campers | last -%}
first, last, crew, lodging, park, email
{% for camper in campers | sort(attribute="attributes.last_name") if camper.stay and camper.stay[0] == early_date -%}
    {%- set crew = camper.registration.registration_type.name if camper.registration.registration_type -%}
    {%- set full_path = camper.lodging.full_name if camper.lodging else '' -%}
    {%- set lodging_short = full_path
        | regex_replace('Tent→Area [A-M]→Spot ', 'Tnt')
        | replace('Camp ', 'C')
        | replace('Cabin→', '')
        | replace('RV under 15\' long→Spot ', '')
        | replace('RV 15\'-20\' long→Spot ', '')
        | replace('RV over 20\' long (call ahead)→Spot ', '')
        | replace('RV→', '')
        | replace('Cooks Cabin', 'Cook')
        | replace('Cabin ', 'Cbn') -%}
    {%- set passes = camper.attributes.parking_passes or [] -%}
    {%- set parking_pass_qty = passes | length -%}
    {%- set parking = namespace(text='-') -%}
    {%- if parking_pass_qty > 0 -%}
      {%- set parking.text = parking_pass_qty ~ (' (' if parking_pass_qty > 1 else ' (' ) -%}
      {%- for pass in passes -%}
        {%- set parking.text = parking.text ~ parking_short[pass.pass_type] -%}
        {%- set parking.text = parking.text ~ ',' if not loop.last else parking.text -%}
      {%- endfor -%}
      {%- set parking.text = parking.text ~ ')' if camper.id != last_camper.id else parking.text -%}
    {%- endif -%}
    {{ camper.attributes.first_name }}, {{ camper.attributes.last_name }}, {{ crew or 'camper' }}, {{lodging_short}},"{{parking.text}}", {{ camper.registration.registrant_email }}
{% endfor -%}