{%- set parking_short = {
	"Long Term": "LT",
	"Vehicle Camp 1": "V1",
	"Vehicle Camp 2": "V2",
	"Vehicle Camp 3": "V3",
	"Short Term": "ST",
	"Camp 1": "C1",
	"Camp 2": "C2",
	"Camp 3": "C3",
	"Park Anywhere": "PA",
} -%}
{%- set session_short = {
	"Full camp": "F",
	"Half camp - 1st half": "A",
	"Half camp - 2nd half": "B",
} -%}
{%- set session_display = {
	"Full camp": "Full",
	"Half camp - 1st half": "1st½",
	"Half camp - 2nd half": "2nd½",
} -%}
id,last,first,reg,type,paid,session,lodging,url,code,session_display
{% for camper in campers | sort(attribute='attributes.last_name,attributes.first_name') -%}
	{%- set ldg = camper.lodging.path_names | join('→') if camper.lodging else '' -%}
	{%- set lodging_short = ldg
		| regex_replace('Tent→Area [A-M]→Spot ', 'Tnt')
		| replace('Camp ', 'C')
		| replace('Cabin→', '')
		| replace('RV under 15\' long→Spot ', '')
		| replace('RV 15\'-20\' long→Spot ', '')
		| replace('RV over 20\' long (call ahead)→Spot ', '')
		| replace('RV→', '')
		| replace('Cooks Cabin', 'Cook')
		| replace('Cabin ', 'Cbn') -%}
	{%- set short_name = (camper.attributes.last_name ~ "," ~	camper.attributes.first_name) | replace('"', '""') -%}
	{%- set parking_paid = (camper.registration.pricing.parking or 0) > 0 -%}
	{%- set crew = camper.registration.registration_type.name if camper.registration.registration_type else '' -%}
{%- for parking_pass in (camper.attributes.parking_passes or []) | sort(attribute='pass_type') -%}
	{%- set i = loop.index -%}
	{{- camper.id ~ '-' ~ i }},
	{{- '"' ~ (camper.attributes.last_name | replace('"', '""')) }}",
	{{- '"' ~ (camper.attributes.first_name | replace('"', '""')) }}",
	{{- crew }},
	{{- parking_short[parking_pass.pass_type] }},
	{{- '$' if parking_paid else '' }},
	{{- camper.attributes.session }},
	{{- lodging_short }},
	{{- '"larkadmin://registration/' ~ (camper.id | string) }}","
	{{- short_name }};
	{{- session_short[camper.attributes.session] }};
	{{- lodging_short }}",
	{{- session_display[camper.attributes.session] }}
{% endfor -%}
{% endfor -%}