{%- set parking_short = {
  "Long Term": "LT",
  "Vehicle Camp 1": "V1",
  "Vehicle Camp 2": "V2",
  "Vehicle Camp 3": "V3",
  "Short Term": "ST",
  "Camp 1": "C1",
  "Camp 2": "C2",
  "Camp 3": "C3",
  "Park Anywhere": "PA",
} -%}
first, last, crew, arrives, lodging, park, pre-meals?, email
{% for camper in campers | sort(attribute="attributes.last_name") if camper.admin_attributes.registration_volunteer -%}
    {%- set registration_type = camper.registration.registration_type -%}
    {%- set crew = registration_type.name if registration_type else '' -%}
    {%- set full_lodging_path = camper.lodging.full_name if camper.lodging else '' -%}
    {%- set ns = namespace(lodging_short=full_lodging_path) -%}
    {%- for l in ['A','B','C','D','E','F','G','H','I','J','K','L','M'] -%}
        {%- set ns.lodging_short = ns.lodging_short | replace('Tent→Area ' + l + '→Spot ', 'Tnt') -%}
    {%- endfor -%}
    {%- set lodging_short = ns.lodging_short | replace('Camp ', 'C') -%}
    {%- set lodging_short = lodging_short | replace('Cabin→', '') -%}
    {%- set lodging_short = lodging_short | replace('RV under 15\' long→Spot ', '') -%}
    {%- set lodging_short = lodging_short | replace('RV 15\'-20\' long→Spot ', '') -%}
    {%- set lodging_short = lodging_short | replace('RV over 20\' long (call ahead)→Spot ', '') -%}
    {%- set lodging_short = lodging_short | replace('RV→', '') -%}
    {%- set lodging_short = lodging_short | replace('Cooks Cabin', 'Cook') -%}
    {%- set lodging_short = lodging_short | replace('Cabin ', 'Cbn') -%}
    {%- set parking_passes = camper.attributes.parking_passes or [] -%}
    {%- set parking = none -%}
    {%- if parking_passes | length > 0 -%}
        {%- set parking = parking_passes[0].pass_type or 'Long Term' -%}
        {%- if 'Camp 1' in full_lodging_path and 'RV' in full_lodging_path -%}{%- set parking = 'Vehicle Camp 1' -%}{%- endif -%}
        {%- if 'Camp 2' in full_lodging_path and 'RV' in full_lodging_path -%}{%- set parking = 'Vehicle Camp 2' -%}{%- endif -%}
        {%- if 'Camp 3' in full_lodging_path and 'RV' in full_lodging_path -%}{%- set parking = 'Vehicle Camp 3' -%}{%- endif -%}
    {%- endif -%}
    {%- set comp_reason = none -%}
    {%- if camper.stay[0] == event.start -%}
        {%- if camper.admin_attributes.precamp_meals_comp -%}{%- set comp_reason = 'lark' -%}{%- endif -%}
        {%- if crew == 'kitchen-full' -%}{%- set comp_reason = 'kitchen' -%}{%- endif -%}
        {%- if crew == 'kitchen-partial' -%}{%- set comp_reason = 'kitchen' -%}{%- endif -%}
        {%- if camper.admin_attributes.food_trade_only -%}{%- set comp_reason = 'trade' -%}{%- endif -%}
    {%- endif -%}
    {{ camper.attributes.first_name }}, {{ camper.attributes.last_name }}, {{ crew or 'camper' }}, {{ camper.stay[0] }}, {{lodging_short}}, {{parking_short[parking] or '-'}}, {{ comp_reason or 'NO COMP' }}, {{ camper.registration.registrant_email }}
{% endfor -%}