{%- set valid_reg_types = [
"kitchen-full",
"kitchen-partial",
] -%}
{%- set session_short = {
"Full camp": "Full",
"Half camp - 1st half": "1st½",
"Half camp - 2nd half": "2nd½",
} -%}
First, Last, Type, Session, Lodging, Meals, Arrived
{% for camper in campers | sort(attribute="attributes.last_name") -%}
{%- set crew = camper.registration.registration_type.name if camper.registration.registration_type -%}
{%- if
  not crew == "kitchen-full" and
  not crew == "kitchen-partial"
  -%}{% continue %}{%- endif -%}
{%- set ldg = camper.lodging -%}
{%- if ldg -%}
  {%- set lodging_short = ldg.full_name
    | replace('RV under 15\' long', '')
    | replace('RV 15\'-20\' long', '')
    | replace('RV over 20\' long (call ahead)', '')
    | replace('RV→', 'Vehicle Camping')
    | replace('→Cabin→', '→') -%}
  {%- set lodging_short = lodging_short[:lodging_short.find('→Spot')] if '→Spot' in lodging_short else lodging_short -%}
{%- endif -%}
{%- set meals = camper.attributes.meals or {} -%}
  {{camper.attributes.first_name}}, {{camper.attributes.last_name}}, {{ crew | replace('crew-kitchen-', '') }},
  {{- session_short[camper.attributes.session] }},
  {{- lodging_short if ldg else 'Not assigned' }},
  {{- meals.meal_plan }}: {{- meals.meal_type }},
  {{- camper.admin_attributes.checked_in }}
{% endfor %}
