{%- set crew = 'crew-registration' -%}
{%- set camps = ['Camp 2'] -%}
{%- set manager = 'Manager of Camp 2' -%}
{%- set parking_short = {
  "Long Term": "LT",
  "Vehicle Camp 1": "V1",
  "Vehicle Camp 2": "V2",
  "Vehicle Camp 3": "V3",
  "Short Term": "ST",
  "Camp 1": "C1",
  "Camp 2": "C2",
  "Camp 3": "C3",
  "Park Anywhere": "PA",
} -%}
{%- for camper in campers -%}
    {%- set _ = camper.update({'camperLodgingParts': lodgingLookup[camper.lodging | string]}) -%}
    {%- set _ = camper.update({'registration': registrationLookup[camper.registration | string]}) -%}
		{%- set _ = camper.update({'crew': registrationTypeLookup[camper.registration.registration_type | string] if registrationTypeLookup[camper.registration.registration_type | string] else {} }) -%}
    {%- set _ = camper.update(
    {'fullLodgingPath': lodgingLookup[camper.lodging | string].fullPath}
    ) if camper.lodging  -%}
    {%- set _ = camper.update({'lodging_short': camper.fullLodgingPath or ''}) -%}
    {%- for l in ['A','B','C','D','E','F','G','H','I','J','K','L','M'] -%}
        {%- set _ = camper.update({'lodging_short': camper.lodging_short | replace('Tent→Area ' + l + '→Spot ', 'Tnt')}) -%}
    {%- endfor -%} 
    {%- set _ = camper.update({'lodging_short': camper.lodging_short | replace('Camp ', 'C')}) -%}
    {%- set _ = camper.update({'lodging_short': camper.lodging_short | replace('Cabin→', '')}) -%}
    {%- set _ = camper.update({'lodging_short': camper.lodging_short | replace('RV under 15\' long→Spot ', '')}) -%}
    {%- set _ = camper.update({'lodging_short': camper.lodging_short | replace('RV 15\'-20\' long→Spot ', '')}) -%}
    {%- set _ = camper.update({'lodging_short': camper.lodging_short | replace('RV over 20\' long (call ahead)→Spot ', '')}) -%}
    {%- set _ = camper.update({'lodging_short': camper.lodging_short | replace('RV→', '')}) -%}
    {%- set _ = camper.update({'lodging_short': camper.lodging_short | replace('Cooks Cabin', 'Cook')}) -%}
    {%- set _ = camper.update({'lodging_short': camper.lodging_short | replace('Cabin ', 'Cbn')}) -%}
    {%- if camper.registration.attributes.parking_passes | length > 0 -%}
        {%- set _ = camper.update({'parking': camper.registration.attributes.parking_exception or 'Long Term'}) -%}
        {%- set _ = camper.update({'parking': 'Vehicle Camp 1'}) if 'Camp 1' in camper.fullLodgingPath and 'RV' in camper.fullLodgingPath -%}
        {%- set _ = camper.update({'parking': 'Vehicle Camp 2'}) if 'Camp 2' in camper.fullLodgingPath and 'RV' in camper.fullLodgingPath -%}
        {%- set _ = camper.update({'parking': 'Vehicle Camp 3'}) if 'Camp 3' in camper.fullLodgingPath and 'RV' in camper.fullLodgingPath -%}
    {%- endif -%}
{%- endfor -%} 
first, last, crew, lodging, arrival_date, park, email
{% for camper in campers | sort(attribute="attributes.last_name") if camper.admin_attributes.crew_exception == manager and camper.camperLodgingParts.pathParts[0] in camps -%}
{{ camper.attributes.first_name }},
{{- camper.attributes.last_name }},
{{- camper.crew.label or 'none' }},
{{- camper.lodging_short}},
{{- camper.stay[0] }},
{{- parking_short[camper.parking] or '-'}},
{{- camper.registration. registrant_email }}
{% endfor -%}
{% for camper in campers | sort(attribute="attributes.last_name") if ((camper.crew.name == crew) and camper.admin_attributes.crew_exception != manager) and camper.camperLodgingParts.pathParts[0] in camps -%}
{{ camper.attributes.first_name }},
{{- camper.attributes.last_name }},
{{- camper.crew.label or 'none' }},
{{- camper.lodging_short}},
{{- camper.stay[0] }},
{{- parking_short[camper.parking] or '-'}},
{{- camper.registration. registrant_email  }}
{% endfor -%}