{%- set crews = [
  {'title': 'Talent Crew',
  'name': 'talent'
  },
  {'title': 'Kitchen Crew',
  'name': 'crew-kitchen-'
  },
  {'title': 'Setup/Teardown Crew',
  'name': 'crew-setup'
  },
  {'title': 'Cleanup Crew',
  'name': 'crew-cleanup'
  },
  {'title': 'Registration Crew',
  'name': 'crew-registration'
  },
  {'title': 'Management Crew',
  'name': 'management'
  }
] -%}

{%- for camper in campers -%}
    {%- set _ = camper.update({'registration': registrationLookup[camper.registration | string]}) -%}
    {%- set _ = camper.update({'crew': registrationTypeLookup[camper.registration.registration_type | string].name if registrationTypeLookup[camper.registration.registration_type | string] else '' }) -%}
{%- endfor -%} 
{%- for crew in crews %}
<br>

**{{ crew.title }}**
<br>
<br>
{%- for camper in campers | sort(attribute="attributes.last_name") if camper.crew.startswith(crew.name) %}
{{camper.attributes.first_name}} {{camper.attributes.last_name}} {{ '&lt;' }}{{camper.attributes.email or camper.registration.registrant_email}}{{ '&gt;' }},
{%- endfor -%} 
{%- endfor -%}