{#- TODO: these registration type ids are hardcoded and the names ('cleanup', 'setup',
    'registration') don't match Lark's current types; printing
    camper.registration.registration_type.name would be more reliable. -#}
{%- set regTypeLookup = {
  2: "talent",
  4: "cleanup",
  5: "setup",
  6: "registration",
  7: "kitchen-full",
  8: "management",
  3: "kitchen-partial",
} -%}
last, first, registration_type, email, phone
{% for camper in campers | sort(attribute="attributes.last_name") -%}
  {{camper.attributes.last_name}}, {{camper.attributes.first_name}},
  {%- set reg = camper.registration -%}
  {{- regTypeLookup[reg.registration_type.id if reg.registration_type]}},
  {{- reg.registrant_email}},
  {%- if reg.attributes.payment and reg.attributes.payment.payer_number -%}
    {{- reg.attributes.payment.payer_number -}}
  {%- else -%}
no phone
  {%- endif %}
{% endfor -%}
