{%- for camper in campers -%}
    {%- set _ = camper.update({'registration': registrationLookup[camper.registration | string]}) -%}
{%- endfor -%} 
last, first, email, donation
{% for camper in campers | sort(attribute='attributes.last_name') if camper.registration.server_pricing_results.donation != 0 -%}
  {{ camper.attributes.first_name }},
  {{- camper.attributes.last_name }},
  {{- camper.attributes.email or camper.registration.registrant_email or '-'}},
  {{- camper.registration.server_pricing_results.donation}}
{% endfor -%}