{%- set rows = [] -%}
{%- for camper in campers -%}
    {%- do rows.append({'camper': camper, 'full_name': camper.lodging.full_name if camper.lodging else ''}) -%}
{%- endfor -%}
last, first, camp, registration_type, stay, meal_plan, meal_location
{% for row in rows | sort(attribute="full_name") -%}
    {%- set camper = row.camper -%}
    {%- if (camper.attributes.meals or {}).meal_plan != 'No meals' -%}
      {%- continue -%}
    {%- endif -%}
    {%- set crew = camper.registration.registration_type.name if camper.registration.registration_type -%}
    {%- set ns = namespace(camp=none) -%}
    {%- for c in ['Camp 1', 'Camp 2', 'Camp 3'] if row.full_name.startswith(c) -%}
        {%- set ns.camp = c -%}
    {%- endfor -%}
    {{- camper.attributes.last_name }},
    {{- camper.attributes.first_name }},
    {{- ns.camp }},
    {{- crew or 'none' }},
    {{- camper.attributes.session}},
    {{- camper.attributes.meals.meal_plan }},
    {{- "N/A" }}
{% endfor %}
