{%- set rows = [] -%}
{%- for camper in campers -%}
    {%- do rows.append({'camper': camper, 'full_name': camper.lodging.full_name if camper.lodging else ''}) -%}
{%- endfor -%}
last, first, camp, registration_type, stay, meal_plan, meal_type,dinner_location,breakfast_location, age, age_category, rate, charged_at_reg
{% for row in rows | sort(attribute="full_name") -%}
    {%- set camper = row.camper -%}
    {%- set crew = camper.registration.registration_type.name if camper.registration.registration_type -%}
    {%- set ns = namespace(camp=none) -%}
    {%- for c in ['Camp 1', 'Camp 2', 'Camp 3'] if row.full_name.startswith(c) -%}
        {%- set ns.camp = c -%}
    {%- endfor -%}
    {%- if ns.camp and not (camper.admin_attributes.meal_assignment_dinner or camper.admin_attributes.meal_assignment_breakfast) -%}
      {%- continue -%}
    {%- endif -%}
    {%- set dinner_in = 'Camp 2' if row.full_name.startswith('Camp 3') else ns.camp -%}
    {%- set breakfast_in = 'Camp 2' if row.full_name.startswith('Camp 3') else ns.camp -%}
    {%- set dinner_in = camper.admin_attributes.meal_assignment_dinner or dinner_in -%}
    {%- set breakfast_in = camper.admin_attributes.meal_assignment_breakfast or breakfast_in -%}
    {%- set age_category = 'child' if camper.attributes.age in ['0-4 years old', '5-11 years old'] else 'adult' -%}
    {%- set meal_rate = 'camper' -%}
    {%- set meal_rate = 'at_cost' if crew == 'talent' else meal_rate -%}
    {%- set meal_rate = 'kitchen' if crew in ['kitchen-full', 'kitchen-partial'] else meal_rate -%}
    {%- set meal_rate = 'trade' if camper.admin_attributes.food_trade_only else meal_rate -%}
    {{- camper.attributes.last_name }},
    {{- camper.attributes.first_name }},
    {{- ns.camp }},
    {{- crew or 'none' }},
    {{- camper.attributes.session}},
    {{- (camper.attributes.meals or {}).meal_plan }},
    {{- (camper.attributes.meals or {}).meal_type }},
    {{- dinner_in }},
    {{- breakfast_in }},
    {{- camper.attributes.age }},
    {{- age_category }},
    {{- meal_rate }},
    {{- '$' + (camper.pricing.meals | string) }}
{% endfor %}
