{%- set camp_year = event.registration_end | date('%Y') -%}
{%- set due_date = '07/01/' ~ camp_year -%}
{%- macro item_name(r) -%}
    {%- set camper = r.campers[0] -%}
    "Registration balance for #{{r.id}} {{ camper.attributes.first_name }} {{
    camper.attributes.last_name }} {{ r.registrant_email }}"
{%- endmacro -%}
{%- macro paypal_name_or(r, if_pp, if_check) -%}
    "
    {%- if r.payment_type == 'PayPal' -%}
        {{- (((r.paypal_response or {}).payer or {}).name or {})[if_pp] -}}
    {%- else -%}
        {{- r.campers[0].attributes[if_check] or r.registrant_email -}}
    {%- endif -%}
    "
{%- endmacro -%}

{%- macro paypal_or(r, if_pp, if_check) -%}
    "
    {%- if r.payment_type == 'PayPal' -%}
        {{- ((r.paypal_response or {}).payer or {})[if_pp] -}}
    {%- else -%}
        {{- r.campers[0].attributes[if_check] or r.registrant_email -}}
    {%- endif -%}
    "
{%- endmacro -%}
{%- set rows = [] -%}
{%- for reg in registrations -%}
    {%- do rows.append({'reg': reg, 'payer_last_name': (reg.attributes.payment or {}).payer_last_name or ''}) -%}
{%- endfor -%}
Recipient Email,Recipient First Name,Recipient Last Name,Invoice Number,Due Date,Reference,Item Name,Description,Item Amount,Shipping Amount,Discount Amount,Currency Code,Note to Customer,Terms and Conditions,Memo to Self
{% for row in rows | sort(attribute="payer_last_name") -%}
{%- set reg = row.reg -%}
{%- if reg.balance <= 0 -%} {%- continue -%} {%- endif -%}
{{- paypal_or(reg, 'email_address', 'email') -}},
{{- paypal_name_or(reg, 'given_name', 'first_name') -}},
{{- paypal_name_or(reg, 'surname', 'last_name') -}},
{{- '"lc' ~ reg.id ~ 'bal"' -}},{# Invoice Number #}
{{- '"' ~ due_date ~ '"' -}},{# Due Date #}
{{- '""' -}},{# Reference #}
{{- item_name(reg) -}},{# Item Name #}
{{- '"Lark Camp ' ~ camp_year ~ ', #' ~ reg.id ~ ' Balance; Original Payment: ' ~ reg.payment_type ~'"' -}},{# Description #}
{{- reg.balance -}},{# Item Amount #}
{{- '0' -}},{# Shipping Amount #}
{{- '0' -}},{# Discount Amount #}
{{- '"USD"' -}},{# Currency Code #}
{{- '"We\'re looking forward to seeing you at camp!"' -}},{# Note to Customer #}
{{- '""' -}},{# Terms and Conditions #}
{{- '""' -}}{# Memo to Self #}
{% endfor -%}