{%- set parking_short = {
"Long Term": "LT",
"Vehicle Camp 1": "V1",
"Vehicle Camp 2": "V2",
"Vehicle Camp 3": "V3",
"Short Term": "ST",
"Camp 1": "C1",
"Camp 2": "C2",
"Camp 3": "C3",
"Park Anywhere": "PA",
} -%}
{%- set session_short = {
"Full camp": "Full",
"Half camp - 1st half": "1st½",
"Half camp - 2nd half": "2nd½",
} -%}
last,first,age,guardian,forms,crew,lodging,stay
{% for camper in campers | sort(attribute="attributes.last_name") if camper.attributes.session == 'Half camp - 2nd half' -%}
  {%- set registration_type = camper.registration.registration_type -%}
  {%- set crew = registration_type.name if registration_type else '' -%}
  {%- set full_lodging_path = camper.lodging.full_name if camper.lodging else '' -%}
  {%- set lodging_short = full_lodging_path -%}
  {%- if 'RV' in full_lodging_path -%}
    {%- set lodging_short = lodging_short[:lodging_short.find('RV→')] + 'VCamp' -%}
  {%- endif -%}
  {%- if 'Cabin' in full_lodging_path -%}
    {%- set lodging_short = lodging_short | replace('→Cabin→', '→') -%}
    {%- set lodging_short = lodging_short | replace('Cabin ', 'Cbn') -%}
  {%- endif -%}
  {%- if 'Tent' in full_lodging_path -%}
    {%- set lodging_short = camper.lodging.path_names[0] + '→Tent' + (camper.lodging.path_names | last) -%}
    {%- set lodging_short = lodging_short | replace('Spot ', '') -%}
  {%- endif -%}
  {%- set lodging_short = lodging_short | replace('Camp ', 'C') -%}
  {{ camper.attributes.last_name }},
  {{- camper.attributes.first_name }},
  {{- camper.attributes.age[:camper.attributes.age.find(' ')] | replace('65', '65+') }},
  {{- '"' + (camper.admin_attributes.guardian_name if 'guardian_name' in camper.admin_attributes else '') }}",
  {%- if camper.admin_attributes.guardian_forms_required and camper.admin_attributes.guardian_forms_received -%}
    Received
  {%- elif camper.admin_attributes.guardian_forms_required and not camper.admin_attributes.guardian_forms_received -%}
    NEEDED
  {%- else -%}
    N/A
  {%- endif -%},
  {{- (crew | replace('crew-', '') | replace('-partial', '') | replace('-full', '')) or '-' }},
  {{- lodging_short }},
  {{- session_short[camper.attributes.session] }}
{% endfor -%}