full_name,first_name,id,email,guardian_forms_required,guardian_forms_received,registration_volunteer,arrives,meal_plan,session,crew,camp,lodging_fullpath,meal_assignment_breakfast,meal_assignment_dinner,parking,total_balance
{% for camper in campers | sort(attribute='attributes.last_name') -%}
  {%- set registration_type = camper.registration.registration_type -%}
  {%- set crew = registration_type.label if registration_type -%}
  {%- set full_lodging_path = camper.lodging.full_name if camper.lodging else "" -%}
  {%- set lodging_display = full_lodging_path[:full_lodging_path.find('→Spot')] if '→Spot' in full_lodging_path else full_lodging_path -%}
  {%- set camp = camper.lodging.path_names[0] if camper.lodging -%}
	{%- set dinner_in = camp -%}
	{%- set breakfast_in = camp -%}
	{%- if full_lodging_path.startswith('Camp 3') -%}{%- set dinner_in = 'Camp 2' -%}{%- endif -%}
	{%- if full_lodging_path.startswith('Camp 3') -%}{%- set breakfast_in = 'Camp 2' -%}{%- endif -%}
  {%- set dinner_in = camper.admin_attributes.meal_assignment_dinner or dinner_in -%}
  {%- set breakfast_in = camper.admin_attributes.meal_assignment_breakfast or breakfast_in -%}
  {{camper.attributes.first_name }} {{ camper.attributes.last_name }},
  {{- camper.attributes.first_name }},
  {{- camper.id }},
  {{- camper.attributes.email or camper.registration.registrant_email or '-'}},
  {{- "" if not camper.admin_attributes.guardian_forms_required else "Yes" }},
	{{- "" if not camper.admin_attributes.guardian_forms_received else "Yes" }},
  {{- "" if not camper.admin_attributes.registration_volunteer else "Yes" }},
  {{- camper.stay[0] }},
  {{- camper.attributes.meals.meal_plan }},
  {{- camper.attributes.session }},
  {{- crew }},
  {{- camp }},
  {{- lodging_display }},
  {{- breakfast_in }},
  {{- dinner_in }},
	{{- '"' }}{%- for parking_pass in camper.attributes.parking_passes -%}	
		{{- parking_pass.pass_type }} {{ parking_pass.vehicle_type -}}
		{{- ";" if not loop.last else "" -}}
	{%- endfor -%}",
  {{- camper.registration.balance or '0' }}
{% endfor -%}