{%- set parking_short = {
"Long Term": "LT",
"Vehicle Camp 1": "V1",
"Vehicle Camp 2": "V2",
"Vehicle Camp 3": "V3",
"Short Term": "ST",
"Camp 1": "C1",
"Camp 2": "C2",
"Camp 3": "C3",
"Park Anywhere": "PA",
} -%}
{%- set session_short = {
"Full camp": "Full",
"Half camp - 1st half": "1st½",
"Half camp - 2nd half": "2nd½",
} -%}
Last, First, Age, Guardian, GForms, Crew, Title, Lodging, Stay, Park, VLicense, VState, VModel, VPassengers, Arrived
{% for camper in campers | sort(attribute='attributes.last_name') -%}
  {%- set registration_type = camper.registration.registration_type -%}
  {%- set crew = registration_type.name if registration_type else '' -%}
  {%- set full_lodging_path = camper.lodging.full_name if camper.lodging else '' -%}
  {%- set lodging_short = full_lodging_path -%}
  {%- if 'RV' in full_lodging_path -%}
    {%- set lodging_short = lodging_short[:lodging_short.find('RV→')] + 'VCamp' -%}
  {%- endif -%}
  {%- if 'Cabin' in full_lodging_path -%}
    {%- set lodging_short = lodging_short | replace('→Cabin→', '→') -%}
    {%- set lodging_short = lodging_short | replace('Cabin ', 'Cbn') -%}
  {%- endif -%}
  {%- if 'Tent' in full_lodging_path -%}
    {%- set lodging_short = camper.lodging.path_names[0] + '→Tent' + (camper.lodging.path_names | last) -%}
    {%- set lodging_short = lodging_short | replace('Spot ', '') -%}
  {%- endif -%}
  {%- set parking_passes = camper.attributes.parking_passes or [] -%}
  {%- set parking = none -%}
  {%- if parking_passes | length > 0 -%}
    {%- set parking = parking_passes[0].pass_type or 'Long Term' -%}
    {%- if 'Camp 1' in full_lodging_path and 'RV' in full_lodging_path -%}{%- set parking = 'Vehicle Camp 1' -%}{%- endif -%}
    {%- if 'Camp 2' in full_lodging_path and 'RV' in full_lodging_path -%}{%- set parking = 'Vehicle Camp 2' -%}{%- endif -%}
    {%- if 'Camp 3' in full_lodging_path and 'RV' in full_lodging_path -%}{%- set parking = 'Vehicle Camp 3' -%}{%- endif -%}
  {%- endif -%}
  {%- set lodging_short = lodging_short | replace('Camp ', 'C') -%}
  {{ '"' + camper.attributes.last_name }}",
  {{- '"' + camper.attributes.first_name }}",
  {{- camper.attributes.age[:camper.attributes.age.find(' ')] | replace('65', '65+') }},
  {{- '"' + (camper.admin_attributes.guardian_name if 'guardian_name' in camper.admin_attributes else '') }}",
  {{- 'Yes' if camper.admin_attributes.guardian_forms_required else '' }},
  {{- (crew | replace('', '') | replace('-partial', '') | replace('-full', '')) or '-' }},
  {{- '"' + (camper.admin_attributes.crew_exception if 'crew_exception' in camper.admin_attributes else '' )}}",
  {{- lodging_short }},
  {{- session_short[camper.attributes.session] }},
  {{- ((parking_passes | length | string) + 'x' + parking_short[parking]) if parking_passes else '-' }},
  {%- if camper.admin_attributes.vehicles -%}
    {{- '"' + (camper.admin_attributes.vehicles | map(attribute="license", default="-") | join('\n')) -}}",
    {{- '"' + (camper.admin_attributes.vehicles | map(attribute="state", default="-") | join('\n')) -}}",
    {{- '"' -}}{%- for v in camper.admin_attributes.vehicles -%}
      {{- v.year }} {{ v.color }} {{ v.make }} {{ v.model }}{{ '' if loop.last else '\n' }}
    {%- endfor -%}",
    {{- '"' + (camper.admin_attributes.vehicles | map(attribute="passengers") | map('join', ',') | join('\n')) -}}"
  {%- else -%}
    -, -, -, -
  {%- endif -%},
  {{- 'Y' if camper.admin_attributes.checked_in else 'N' }}
{% endfor -%}