---
- name: apt-get update
  become: yes
  apt:
    update_cache: yes
  when: not is_vagrant

- name: Upgrade all packages
  become: yes
  apt:
    name: '*'
    state: latest
  when: not is_vagrant

- name: Install common tooling
  become: yes
  apt:
    name: "{{ packages }}"
    state: latest
  vars:
    packages:
      - vim
      - git
      - wget
      - cron
