@use "sass:color";

.event-admin-section-lodging {
height: 100%;

.event-admin-lodging-container {
  $sidebar-bg-color: LightBlue;
  $nav-bg-level-1-dis: LightGreen;
  $nav-bg-level-1-ena: Green;
  $nav-bg-level-2-dis: SandyBrown;
  $nav-bg-level-2-ena: Peru;

  .camper-pop-over {
    border-radius: 0.25rem;
    background: white;
    animation-name: fadeInOut, moveLeft300px, bounce;
    animation-duration: 3s;
    animation-iteration-count: 1;
  }


  nav.level-1 {
    margin-bottom: 0.5rem;
    border-bottom-color: $nav-bg-level-1-ena;
    .nav-item {
      background-color: $nav-bg-level-1-dis;
      border-bottom-color: $nav-bg-level-1-ena;

      &.active {
        background-color: $nav-bg-level-1-ena;
        color: white;
      }
    }
  }

  nav.level-2 {
    border-bottom-color: $nav-bg-level-2-ena;
    .nav-item {
      background-color: $nav-bg-level-2-dis;
      border-bottom-color: $nav-bg-level-2-ena;

      &.active {
        background-color: $nav-bg-level-2-ena;
        color: white;
      }
    }

    .tab-pane {
      flex: 1;
    }
  }

  .lodging-grid-container {
  }

  div.tab-container {
    margin-left: 2.3rem;
  }

  .event-admin-right-column-container {
    padding-left: 0;
    padding-right: 0;
  }

  .event-admin-left-column-container {
    background-color: $sidebar-bg-color;
    border: 1px solid $sidebar-bg-color;

    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 0 0 0.25rem 0;

    .event-admin-left-column-container-inner {
    }

    ul.unassigned-camper-list {
      list-style: none;
      padding: 0;
      padding-left: 0.25rem;
      position: fixed;

      li {
        background-color: color.scale($sidebar-bg-color, $lightness: 50%);
        margin: 0.5rem;
        padding: 0.25rem;
        border-radius: 0.5rem;

      }
    }
  }


  button.show-unassigned-button {
    position: fixed;
    padding: 0.25rem 0.1rem;
    background-color: $sidebar-bg-color;
    border-color: $sidebar-bg-color;
    color: inherit;
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 0 0.25rem 0.25rem 0;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    .show-unassigned-button-inner {
      writing-mode: vertical-rl;
      text-orientation: mixed;

      .badge {
        writing-mode: rl;
        text-orientation: auto;
        color: white;
        background-color: #007bff;
      }

      span {
        margin: .25rem 0;
      }

      .react-icons {
        margin-left: -0.5rem;
      }
    }
  }

}
}
