@use "sass:color";

.camper-pop-over {
  border-radius: 0.25rem;
  background: white;
  z-index: 100;

  .card-header {
    padding-top: 1rem;
    cursor: auto;

    .camper-name {
      font-weight: bold;
      font-size: 1.5rem;
    }

    .camper-tools {
      padding-top: 0.1rem;
    }
  }
}

.draggable-camper {
  display: flex;
  flex: 1;
  border-radius: 0.25rem;
  padding-top: 0;
  cursor: grab;

  .camper-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: -0.1rem;
    padding-right: 1rem;
  }

  .camper-tools {
    margin-left: auto;
    margin-right: 1rem;
    cursor: pointer;

    svg {
      margin-top: -0.5rem;
    }
  }
}

.event-admin-section-lodging {
height: 100%;

.event-admin-lodging-container {
  $sidebar-bg-color: LightBlue;
  $nav-bg-level-1-dis: LightGreen;
  $nav-bg-level-1-ena: Green;
  $nav-bg-level-2-dis: SandyBrown;
  $nav-bg-level-2-ena: Peru;


  nav.level-1 {
    margin-bottom: 0.5rem;
    border-bottom-color: $nav-bg-level-1-ena;
    .nav-item {
      background-color: $nav-bg-level-1-dis;
      border-bottom-color: $nav-bg-level-1-ena;

      &.active {
        background-color: $nav-bg-level-1-ena;
        color: white;
      }
    }
  }

  nav.level-2 {
    border-bottom-color: $nav-bg-level-2-ena;
    .nav-item {
      background-color: $nav-bg-level-2-dis;
      border-bottom-color: $nav-bg-level-2-ena;

      &.active {
        background-color: $nav-bg-level-2-ena;
        color: white;
      }
    }

    .tab-pane {
      flex: 1;
    }

  }

  .lodging-grid-container {
    .lodging-extra-filters {
      padding-top: 0.25rem;
      padding-bottom: 1rem;

      .form-check-inline:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }

  div.tab-container {
    margin-left: 2.3rem;
  }

  .event-admin-right-column-container {
    padding-left: 0;
    padding-right: 0;
  }

  .event-admin-left-column-container {
    background-color: $sidebar-bg-color;
    border: 1px solid $sidebar-bg-color;

    .event-admin-left-column-container-inner {
      padding-top: 1rem;
      z-index: inherit;
    }

    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 0 0 0.25rem 0;

    ul.unassigned-camper-list {
      list-style: none;
      padding: 0;
      padding-left: 0.25rem;

      li {
        background-color: color.scale($sidebar-bg-color, $lightness: 50%);
        margin: 0.5rem;
        padding: 0.25rem;
        border-radius: 0.5rem;

        .lodging-additional-info {
          font-size: 0.75rem;
        }

        .draggable-camper .camper-tools {
          margin-right: 0;
        }
      }
    }
  }


  button.show-unassigned-button {
    position: fixed;
    padding: 0.25rem 0.1rem;
    background-color: $sidebar-bg-color;
    border-color: $sidebar-bg-color;
    color: inherit;
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 0 0.25rem 0.25rem 0;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    .show-unassigned-button-inner {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      flex: 1;
      flex-direction: column;
      min-height: 11rem;
      min-width: 1.6rem;

      .badge {
        writing-mode: rl;
        text-orientation: auto;
        color: white;
        background-color: #007bff;
      }

      span {
        margin: .25rem 0;
      }

      .react-icons {
        vertical-align: bottom;
      }
    }
  }

}
}
