.row {
  background-color: transparent;
}

#root > .container {
  background-color: white;
  box-shadow: 0 0 5px black;
  border-radius: 0 0 1rem 1rem;
  padding-bottom: 2rem;
}

.navbar {
  .navbar-brand {
    text-align: center;
    .navbar-subtitle {
      font-size: 0.75rem;
    }
  }
}

div.event-admin-show-raw {
  button {
    margin: 2rem 0;
  }

  pre {
    color: lightgray;
    background-color: black;
    padding: 1rem;
  }
}

.event-admin-section-home {
}
