server_tokens off;

server {
    include mime.types;
    server_name {{ domain_name }};

    location {{ camphoric_hosted_location }} {
      client_max_body_size 10M; # some uploads to django can get large
      root /usr/share/nginx/html/;
      index  index.html index.htm;
      try_files $uri $uri/index.html @proxy_django;
    }

    location @proxy_django {
      include proxy_params;
      proxy_pass http://unix:/run/camphoric.sock;
    }

    {%- if nginx_ssl_on | bool %}

    listen 443 ssl; # managed by Certbot

    ssl_certificate /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/{{ domain_name }}/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

    {% else %}

    listen 80;

    {% endif %}

}

{%- if nginx_ssl_on | bool %}

server {
    if ($host = {{ domain_name }}) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    listen 80 default_server;
    server_name {{ domain_name }};
    return 404; # managed by Certbot
}

{%- endif %}
