DEBUG={{'on' if camphoric_environment == 'development' else '' }}
SECRET_KEY='{{ camphoric_django_secret_key }}'
DATABASE_URL='postgres://{{ camphoric_postgresql_user }}:{{ camphoric_postgresql_password }}@127.0.0.1/{{ camphoric_postgresql_db }}'
CAMPHORIC_DOMAIN={{ camphoric_domain_name }}
CAMPHORIC_URL="{{ camphoric_url }}"

DJANGO_SUPERUSER_PASSWORD={{ camphoric_django_superuser_password }}
DJANGO_SUPERUSER_USERNAME={{ camphoric_django_superuser_username }}
DJANGO_SUPERUSER_EMAIL={{ camphoric_django_superuser_email }}
DBBACKUP_STORAGE='{{ camphoric_django_dbbackup_storage }}'
DBBACKUP_STORAGE_OPTIONS='{{ camphoric_django_dbbackup_storage_options }}'

CAMPHORIC_TEST_GMAIL_USERNAME="{{ camphoric_email_host_user }}"
CAMPHORIC_TEST_GMAIL_PASSWORD="{{ camphoric_email_host_password }}"

PAYPAL_BASE_URL="{{ camphoric_paypal_base_url }}"
PAYPAL_CLIENT_ID="{{ camphoric_paypal_client_id }}"
PAYPAL_SECRET="{{ camphoric_paypal_secret }}"
