.PriceTicker {
  position: fixed;
  bottom: 0;
  right: 10%;
  padding: 15px;
  font-size: 12pt;
  border-radius: 8px 8px 0 0;
  border-bottom: 0;
  background-color: beige;
  box-shadow: black 0px 1px 2px;
}