# See https://pip.pypa.io/en/stable/getting-started/

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
freezegun = "*"
flake8 = "*"

[packages]
django = "~=4.0"
djangorestframework = "*"
django-environ = "*"
psycopg2 = "*"
json-logic-qubit = "*"
gunicorn = "*"
chevron = "*"
psycopg2-binary = "*"
importlib-resources = "*"
cmarkgfm = "*"
requests = "*"
django-dbbackup = "*"
django-storages = {extras = ["boto3"], version = "*"}
django-filter = "*"
jsonschema = {extras = ["format"], version = "*"}
jinja2 = "*"

[requires]
