# See https://pip.pypa.io/en/stable/getting-started/

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
freezegun = "*"
flake8 = "*"

[packages]
django = "~=6.1"
djangorestframework = ">=3.18"
django-environ = "*"
psycopg2 = ">=2.9.9"
json-logic-qubit = "*"
# Reads Mustache emails so migration 0065 can convert them to Jinja (templating/mustache.py).
chevron = "*"
psycopg2-binary = ">=2.9.9"
cmarkgfm = "*"
requests = "*"
django-dbbackup = "*"
django-storages = {extras = ["boto3"], version = "*"}
django-filter = ">=26.1"
jsonschema = {extras = ["format"], version = "*"}
jinja2 = "*"
deepmerge = "*"
whitenoise = "*"
gunicorn = "*"
django-tasks-db = "*"
cryptography = "*"

[requires]
python_version = "3.12"
