attrs==19.3.0
Django==2.2.5
django-environ==0.4.5
djangorestframework==3.10.3
importlib-metadata==0.23
jsonschema==3.1.1
more-itertools==7.2.0
psycopg2==2.8.4
pyrsistent==0.15.5
pytz==2019.2
six==1.13.0
sqlparse==0.3.0
zipp==0.6.0
