.row {
  background-color: transparent;
}

#root > .container {
  background-color: white;
  box-shadow: 0 0 5px black;
  border-radius: 0 0 1rem 1rem;
  padding-bottom: 2rem;
  min-height: 100vh;
}

.navbar {
  .navbar-brand {
    text-align: center;
    .navbar-subtitle {
      font-size: 0.75rem;
    }
  }

  .navbar-nav a.nav-link {
    $color: #007bff;
    color: rgba($color, 0.8);
    &.selected {
      color: $color;
      font-weight: bold;
    }
  }

}

.nav-tabs {
  a.nav-link {
    color: rgba(0, 0, 0, 0.5);
  }
}

div.event-admin-show-raw {
  button {
    margin: 2rem 0;
  }

  pre {
    color: lightgray;
    background-color: black;
    padding: 1rem;
  }
}

.search-query-snippet pre {
  color: gray;

  .highlight {
    color: red;
  }
}

.react-icons {
  vertical-align: middle;
}
