div.reports-container {
  div.report-edit-form {
    textarea.report-template {
      height: 60vh;
    }

    textarea.report-variables-schema {
      height: 20vh;
    }
  }

  div.report-tabs {
    .button-container {
      display: flex;
      justify-content: space-between;
    }
  }
}
