@use "sass:color";

.event-admin-section-lodging .event-admin-lodging-container .tree-view {
  .main-lodging-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .lodging-edit-buttons button {
    margin-right: 0.5rem;
  }

  .new-lodging-button {
    margin-top: 1rem;
  }
}
