.RegisterPage {
  background-color: #057e36;
  display: flex;
  justify-content: center;
  text-align: center;

  .App-link {
    color: #61dafb;
  }

  .App>section {
    background-color: white;
    box-shadow: 0 0 5px black;
    flex-grow: 1;
    max-width: 750px;
    padding: 36px 0;
  }
}
