{%- set rows = [] -%}
{%- for reg in registrations if reg.campers and reg.pricing.campership_donation != 0 -%}
  {%- do rows.append({
    'first_name': reg.campers[0].attributes.first_name,
    'last_name': reg.campers[0].attributes.last_name,
    'email': reg.registrant_email,
    'donation': reg.pricing.campership_donation,
  }) -%}
{%- endfor -%}
Last,First,Email,Donation
{% for row in rows | sort(attribute="last_name,first_name") -%}
{{row.last_name}},{{row.first_name}},{{row.email}},${{row.donation}}
{% endfor -%}
,,Total,${{rows | map(attribute="donation", default=0) | sum}}
