{%- set dates = [ ['2025-12-30', 'Tue'],['2025-12-31', 'Wed' ],['2026-01-01', 'Thu' ],['2026-01-02', 'Fri' ],['2026-01-03', 'Sat' ] ] -%}
last name,first name,referer,{% for dt in dates %}{{ dt[1] }},{% endfor %}
{% for camper in campers | sort(attribute="attributes.last_name,attributes.first_name") if camper.attributes.first_time -%}
    "{{camper.attributes.last_name}}","{{camper.attributes.first_name}}","{{camper.attributes.referer}}",
    {%- for dt in dates -%}{{ 'X,' if dt[0] in (camper.stay or []) else ',' }}{%- endfor %}
{% endfor -%}