last name,first name,notes,{% for night in event.nights %}{{ night | date('%a') }},{% endfor %}
{% for camper in campers | sort(attribute="attributes.last_name,attributes.first_name") if camper.attributes.health_conditions -%}
    "{{camper.attributes.last_name}}","{{camper.attributes.first_name}}","{{camper.attributes.health_conditions}}",
    {%- for night in event.nights -%}{{ 'X,' if night in (camper.stay or []) else ',' }}{%- endfor %}
{% endfor -%}
