{%- set earlybird_cutoff = '2025-11-15T07:00:00' -%}
{%- set locations = [
  ['Lodge', ['Lodge']],
  ['Village 7', ['Village 7']],
  ['Cabin', ['Cabin']],
  ['RV/Tent', ['RV Camping', 'Tent Camping']],
] -%}
{%- set ages = [
  ['Adult', ['31-79 years old', '80+ years old']],
  ['Young Adult', ['18-30 years old', '13-17 years old']],
  ['Child', ['3-12 years old']],
  ['Baby', ['0-2 years old']],
] -%}
Reg, Category, Camper Nights
{% for age in ages -%}
{%- for early in [True, False] -%}
{%- for loc in locations -%}
{%- set ns = namespace(nights=0) -%}
{%- for camper in campers if camper.attributes.age in age[1] and camper.lodging and camper.lodging.path_names[0] in loc[1] -%}
  {#- Registration times compare in UTC, as the cutoff is written. -#}
  {%- set registered = camper.registration.created_at | datetime('%Y-%m-%dT%H:%M:%S', 'UTC') -%}
  {%- if ((registered < earlybird_cutoff) if early else (registered > earlybird_cutoff)) -%}
    {%- set ns.nights = ns.nights + (camper.stay or []) | length -%}
  {%- endif -%}
{%- endfor -%}
{{ ('Early' if early else 'Regular') if (loop.first) else '' }}, {{ age[0] }} per day {{ loc[0] }}, {{ ns.nights }}
{% endfor %}{% endfor %}{% endfor %}
