last name,first name,type,exceptions,notes,{% for night in event.nights %}{{ night | date('%a') }},{% endfor %}
{% for camper in campers | sort(attribute="attributes.last_name,attributes.first_name") -%}
    {%- if not camper.attributes.meal_exceptions_other -%}{%- continue -%}{%- endif -%}
    "{{
    camper.attributes.last_name}}","{{
    camper.attributes.first_name}}","{{
    camper.attributes.meal_type}}","{{
    (camper.attributes.meal_exceptions or []) | join(', ')}}","{{
    camper.attributes.meal_exceptions_other}}",
    {%- for night in event.nights -%}{{ 'X,' if night in (camper.stay or []) else ',' }}{%- endfor %}
{% endfor -%}
