{%- set dates = [
['2024-12-27', 'Fri'],
['2024-12-28', 'Sat' ],
['2024-12-29', 'Sun' ],
['2024-12-30', 'Mon' ],
['2024-12-31', 'Tue' ],
]
-%}
last name,first name,type,exceptions,notes,{% for dt in dates %}{{ dt[1] }},{% endfor %}
{% for camper in campers | sort(attribute="attributes.last_name,attributes.first_name") -%}
    {%- if not camper.attributes.meal_exceptions_other -%}{%- continue -%}{%- endif -%}
    "{{
    camper.attributes.last_name}}","{{
    camper.attributes.first_name}}","{{
    camper.attributes.meal_type}}","{{
    camper.attributes.meal_exceptions | join(', ')}}","{{
    camper.attributes.meal_exceptions_other}}",
    {%- for dt in dates -%}{{ 'X,' if dt[0] in (camper.stay or []) else ',' }}{%- endfor %}
{% endfor -%}