<div style="font-size: 2rem">Lark Campout - Waiver of Liability Signature Page</div>
<br />
<div style="font-weight: bold">My Signature below certifies that I have read the Lark Campout Waiver of Liability and understand its content. This Accident Waiver and Release of Liability shall be construed broadly to provide a release and waiver to the maximum extent permissible under applicable law.</div>
<br />

| Name |  Signed | Date | Printed Name |
| ---------- | --- | --- | --- |
{{#eachsort campers "attributes.last_name"}}
|  {{this.attributes.first_name}} {{this.attributes.last_name}} | &nbsp; | &nbsp; | &nbsp; |
{{/eachsort}}

Total Campers: {{campers.length}}