{%- set dates = [
['2024-12-27', 'Fri'],
['2024-12-28', 'Sat' ],
['2024-12-29', 'Sun' ],
['2024-12-30', 'Mon' ],
['2024-12-31', 'Tue' ],
]
-%}
{%- set totals = {
dates.0.0~'v1': 0,
dates.0.0~'v2': 0,
dates.0.0~'v4': 0,
dates.0.0~'v7': 0,
dates.0.0~'RV': 0,

dates.1.0~'v1': 0,
dates.1.0~'v2': 0,
dates.1.0~'v4': 0,
dates.1.0~'v7': 0,
dates.1.0~'RV': 0,

dates.2.0~'v1': 0,
dates.2.0~'v2': 0,
dates.2.0~'v4': 0,
dates.2.0~'v7': 0,
dates.2.0~'RV': 0,

dates.3.0~'v1': 0,
dates.3.0~'v2': 0,
dates.3.0~'v4': 0,
dates.3.0~'v7': 0,
dates.3.0~'RV': 0,

dates.4.0~'v1': 0,
dates.4.0~'v2': 0,
dates.4.0~'v4': 0,
dates.4.0~'v7': 0,
dates.4.0~'RV': 0,
}
-%}
{%- set v1_total = 0 -%}
{%- set v2_total = 0 -%}
{%- set v4_total = 0 -%}
{%- set v7_total = 0 -%}
{%- for camper in campers -%}
    {%- set val = lodgingLookup[camper.lodging | string] -%}
    {%- do camper.update({'ldg': val.pathParts if val else [] }) -%}
    {%- for dt in dates -%}
        {%- if dt[0] in (camper.stay or []) -%}
            {%- if 'Village 1' in (val.pathParts) -%}{%- do totals.update({dt.0 ~ 'v1': totals[dt.0~'v1'] + 1}) -%}{%- endif -%}
            {%- if 'Village 5' in (val.pathParts) -%}{%- do totals.update({dt.0 ~ 'v1': totals[dt.0~'v1'] + 1}) -%}{%- endif -%}
            {%- if 'Village 6' in (val.pathParts) -%}{%- do totals.update({dt.0 ~ 'v1': totals[dt.0~'v1'] + 1}) -%}{%- endif -%}
            {%- if 'Village 2' in (val.pathParts) -%}{%- do totals.update({dt.0 ~ 'v2': totals[dt.0~'v2'] + 1}) -%}{%- endif -%}
            {%- if 'Apartments' in (val.pathParts) -%}{%- do totals.update({dt.0 ~ 'v4': totals[dt.0~'v4'] + 1}) -%}{%- endif -%}
            {%- if 'Village 7' in (val.pathParts) -%}{%- do totals.update({dt.0 ~ 'v7': totals[dt.0~'v7'] + 1}) -%}{%- endif -%}
            {%- if 'Wellness' in (val.pathParts) -%}{%- do totals.update({dt.0 ~ 'v7': totals[dt.0~'v7'] + 1}) -%}{%- endif -%}
            {%- if 'RV Camping' in (val.pathParts) -%}{%- do totals.update({dt.0 ~ 'RV': totals[dt.0~'RV'] + 1}) -%}{%- endif -%}
            {%- if 'Tent Camping' in (val.pathParts) -%}{%- do totals.update({dt.0 ~ 'RV': totals[dt.0~'RV'] + 1}) -%}{%- endif -%}
        {%- endif -%}
    {%- endfor -%}
{%- endfor -%}
Day | Village 1, 5&6 | Village 2 | Village 4 | Village 7& Wellness | RV/Tent | Total
--- | -------------- | --------- | --------- | ------------------- | ------- | -----
{% for dt in dates -%}
    {{ dt[1] }} | {{ totals[dt.0 ~ 'v1'] }} | {{ totals[dt.0 ~ 'v2'] }} | {{
    totals[dt.0 ~ 'v4'] }} | {{ totals[dt.0 ~ 'v7'] }} | {{ totals[dt.0 ~ 'RV'] }} | {{ 
totals[dt.0 ~ 'v1'] + totals[dt.0 ~ 'v2'] + totals[dt.0 ~ 'v4'] + totals[dt.0 ~ 'v7']
}} |
{% endfor -%}
TOTALS | {{
totals[dates.0.0~'v1'] + totals[dates.1.0~'v1'] + totals[dates.2.0~'v1'] + totals[dates.3.0~'v1'] + totals[dates.4.0~'v1']
}} | {{
totals[dates.0.0~'v2'] + totals[dates.1.0~'v2'] + totals[dates.2.0~'v2'] + totals[dates.3.0~'v2'] + totals[dates.4.0~'v2']
}} | {{
totals[dates.0.0~'v4'] + totals[dates.1.0~'v4'] + totals[dates.2.0~'v4'] + totals[dates.3.0~'v4'] + totals[dates.4.0~'v4']
}} | {{
totals[dates.0.0~'v7'] + totals[dates.1.0~'v7'] + totals[dates.2.0~'v7'] + totals[dates.3.0~'v7'] + totals[dates.4.0~'v7']
}} | {{
totals[dates.0.0~'RV'] + totals[dates.1.0~'RV'] + totals[dates.2.0~'RV'] + totals[dates.3.0~'RV'] + totals[dates.4.0~'RV']
}} | {{
totals[dates.0.0~'v1'] + totals[dates.1.0~'v1'] + totals[dates.2.0~'v1'] + totals[dates.3.0~'v1'] + totals[dates.4.0~'v1'] +
totals[dates.0.0~'v2'] + totals[dates.1.0~'v2'] + totals[dates.2.0~'v2'] + totals[dates.3.0~'v2'] + totals[dates.4.0~'v2'] +
totals[dates.0.0~'v4'] + totals[dates.1.0~'v4'] + totals[dates.2.0~'v4'] + totals[dates.3.0~'v4'] + totals[dates.4.0~'v4'] +
totals[dates.0.0~'v7'] + totals[dates.1.0~'v7'] + totals[dates.2.0~'v7'] + totals[dates.3.0~'v7'] + totals[dates.4.0~'v7'] +
totals[dates.0.0~'RV'] + totals[dates.1.0~'RV'] + totals[dates.2.0~'RV'] + totals[dates.3.0~'RV'] + totals[dates.4.0~'RV']
}} |