.App {
  display: flex;
  justify-content: center;
  background-color: #057e36;
}

section {
  padding: 36px;
  max-width: 750px;
  flex-grow: 1;

  background-color: white;
  box-shadow: 0 0 5px black;
}

section.Login .processing {
  max-height: 75px;
  min-height: 75px;
}

section.Login .processing .spinner {
  max-height: 70px;
  min-height: 70px;
}

